<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3">
    </div>
    <div class="text-right">
  </div>
  </div>
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">main_image</th>
          <th scope="col" class="text-center">main_name</th>
          <th scope="col" class="text-center">sub_image</th>
          <th scope="col" class="text-center">sub_name</th>
        </tr>
      </thead>
      <tbody>
        <%= render @foods %>
      </tbody>
    </table>
  </div>
</div>