<%= search_form_for @q, class: "form-group" do |f| %>
  <div class="input-group mb-3 search_group">
    <%= f.search_field :name_cont, class: 'form-control', placeholder: '食品名検索' %>
    <div class="input-group-append">
      <%= f.submit class: 'search_btn' %>
    </div>
  </div>
<% end %>
