<div class="food_create_form">
  <label class="food_create_label">
    <%= f.text_field :email, placeholder: "メールアドレス" %>
  </label>
</div>
<div class="food_create_form">
  <label class="food_create_label text-center">
    <%= f.text_field :password, placeholder: "パスワード" %>
  </label>
</div>