        <% if food_combination.main.genre == 'noodle' && food_combination.main.sugar + food_combination.sub.sugar <= 80 %>
          <div class="food_combi_contain">
            <%= render 'details', food_combination: food_combination %>
            <div class="food_graph">
              <% chart = [
                { name: '炭水化物(g)', data: food_combination.get_sugar }
              ] %>
              <%= bar_chart chart, colors: ["#185ADB", "#666"], min: 0, max: 100 %>
            </div>
          </div>
        <% end %>

  <%= render partial: 'food_combination', collection: @food_combination %>