.pagy-nav {
  display: none;
}
.food_top {
  background-color: #F0E5CF;
  font-size: 20px;
}
.main_text_box {
  background-color: #fff;
}
.pagination {
  justify-content: center;
  margin: 40px 0;
}
.page-item.active .page-link {     
  background: #3EA1D1;
  border-radius: 15px;
}
.page-item .page-link {
  border: none;
  background-color: #F0E5CF;
}
.food-card {
  width: 70%;
}

// 
// 組み合わせ作成ページ
// 
.food_create_cross {
  margin: auto 50px;
}
.food_create_title {
  @include food_combi_title_box($text-color)
}
.food_create_main {
  width: 100%;
  max-width: 100%;
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.food_create_sub {
  width: 100%;
  max-width: 100%;
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.food_create_form {
  white-space: nowrap;
	position: relative;
	width: 90%;
	margin: 50px auto;
}
.food_create_form input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: black;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.food_create_label input[type='text']:focus {
	border-bottom: 2px solid #3EA1D1;
	outline: none;
}
.food_create_btn_inner {
  text-align: center;
  padding: 30px 0;
}
.food_create_btn {
  padding: 20px;
  max-width: 80%;
  width: 60%;
}
.food_create_preview_img {
  width: 330px;
  height: 270px;
  object-fit: cover;
}
.food_create_no_img {
  width: 330px;
  height: 270px;
  object-fit: cover;
}
.food_create_img_btn {
  background-color: #c8c9ca;
}
.food_create_label {
  width: 100%;
}

.food_create_select {
  background-color: transparent;
  width: 100%;
  padding: 10px 10px 10px 0;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #1b2538;
}
.food_create_select_img {
  margin-top: 50px;
  img {
    width: 330px;
    height: 270px;
  }
}


// 
// 検索フォーム
// 
.search_btn {
  padding: 20px;
  color: #fff;
  background-color: #3EA1D1;
}
.search_group {
  width: 86%;
  margin: 0 auto;
}

// 
// モーダル表示
// 
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#modal {
  position: fixed;
  top: 15vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 4;
  width: 950px;
  overflow: auto;
  padding: 20px;
  height: 70vh;
}
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}
#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

.show_box{
  img {
    width: 100%;
  }
}
.show_item_box {
  line-height: 3rem;
}
.show_margin_text {
	color: #444;
	font-size: 25px;
	display: flex;
	align-items: center;
  margin: 50px 0;
  font-weight: bold;
}
.show_margin_text:before, .show_margin_text:after {
	content: "";
	flex-grow: 1;
	border-top: 8px dotted #444;
	display: block;
}
.show_margin_text:before {
	margin-right: .4em;
}
.show_margin_text:after {
	margin-left: .4em;
}

.input-group {
  margin-bottom: 50px;
}
.input-group-append {
  margin: 50px 0;
}

// .pagy-nav {
//   display: none;
// }



@media (max-width: 480px) {
  .food_top {
    font-size: 15px;
  }
  .food-card {
    width: 100%;
  }

  .food_create_preview_img {
    width: 100%;
    height: 100%;
  }
  .food_create_no_img {
    width: 100%;
    height: 100%;
  }
  .food_create_btn {
    max-width: 100%;
    width: 100%;
  }
  .food_create_label {
    width: 100%;
  }
  .food_create_form {
    margin: 30px auto;
  }
  .food_create_select_img {
    margin-top: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  // モーダル
  #modal {
    width: 100%;
  }
  .show_item_box {
    margin-top: 20px;
    line-height: 20px;
  }
  .show_margin_text {
    font-size: 18px;
    margin: 50px 0;
  }

  .input-group {
    margin-bottom: 30px;
  }
  .input-group-append {
    margin: 30px 0;
  }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
  .food-card {
    width: 100%;
  }
  .food_create_preview_img {
    width: 100%;
    height: 100%;
  }
  .food_create_no_img {
    width: 100%;
    height: 100%;
  }
  img {
    max-width: 730px;
    max-height: 730px;
  }
  .food_create_select_img {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .food_create_select_img {
    margin-top: 20px;
  }

  // モーダル
  #modal {
    width: 100%;
  }

}