<% content_for(:title, t('.title')) %>  
  <div class="food_top">
    <div class="container">
      <div id="mask" class="hidden"></div>
      <%= render 'search_form', url: mains_path %> 
      <div class="row infinity_contain">
        <%= render @mains %>
      </div>
      <div id="modal" class="hidden"></div>
      <%== pagy_nav(@pagy) %> 
    </div>
  </div>

<div id="js-scroll-fadein" class="js-scroll-fadein arrow normal"></div>    
<%= javascript_pack_tag 'home/main' %>
