<% content_for(:title, t('.title')) %>
<div class="food_top">
  <div class="container"> 
    <%= render 'shared/show_text', component: @sub %>
    <p class="show_margin_text">組み合わせされている食品</p>
    <% unless @sub.mains.empty? %>
      <div class="row">
        <% @sub.mains.each do |main| %>
          <%= render 'shared/show_combination', sub: main %>
        <% end %>
      </div>
    <% else %>
      <p>この食品との組み合わせはありません</p>
    <% end %>
  </div>
</div>