<% content_for(:title, t('.title')) %>
  <div class="food_top">
    <div class="container">
      <%= render 'shared/component_btn', url: subs_path %>
      <%= paginate @subs %> 
      <div class="row">
        <% @subs.each do |sub| %>
          <%= render 'shared/index', main: sub, combi_path: sub_path(sub) %>
        <% end %>
      </div>
      <%= paginate @subs %> 
    </div>
  </div>