<h1 class="text-center my-5">サブ料理詳細</h1>
<div class="row justify-content-center text-center">
  <div class="col-8">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="py-3 text-info">Image</h5>
        <% if @sub.image.attached? %>
          <%= image_tag @sub.image, size: "300x300" %>
        <% end %>
        <h5 class="text-info">Name</h5>
          <%= @sub.name %>
      </div>
    </div>
    <ul>
      <li class='list-inline-item'>
        <%= button_to "編集", edit_admin_sub_path(@sub), method: :get, class: "btn btn-success", style: "padding: 20px; width: 100%"  %>
      </li>
      <li class='list-inline-item'>
        <%= button_to "削除", admin_subs_path(@sub), method: :delete, data: { confirm: '本当に削除してもよろしいですか？'}, class: "btn btn-danger", style: "padding: 20px; width: 100%"  %>
      </li>
    </ul>
  </div>
</div>